frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/angular-errors.log

backend/vendor/
backend/.env
backend/database/database.sqlite
backend/storage/*.key
backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/testing/
backend/storage/framework/views/
backend/bootstrap/cache/*.php

backend/backend-dev.log
backend/backend-dev.err.log
frontend/frontend-dev.log
frontend/frontend-dev.err.log
